body{
    background-color: #e5e0dc;
}
.logojpeg{

    width: 117px;
    margin-left: 41px;
    text-decoration: underline;
    
}
.A1{
    font-size: 24px;
    text-indent: 50px;
    font-family: auto;
    text-decoration: underline;
    color: #af8062 !important;
}
.A2{
    font-size: 24px;
    font-family: auto;
    text-decoration: underline;
    color: #af8062 !important;
}
.Bot2{
   background-color: #af8062 !important;
   border-color: #af8062 !important;
}
.navbar {
    z-index: 9999999999;
    position:fixed;
    top: 0;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 100vw;
    margin-left: 0px;
    margin-top: 0px;
    background-color: black !important;
}
.icon1{
  width: 10px;
}
/* ============================================================== */
.ride{
    margin-top: 67px;
}
.whats{
    height: 587px;
    display: block;
    width: 100%;
   
}
.I{
    color: #fff;
}
/* ===================================================== */
.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    margin-top: 45px;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e66400, 0 0 40px  #e66400, 0 0 50px  #e66400, 0 0 60px  #e66400, 0 0 70px  #e66400;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #f07d19, 0 0 40px #f07d19, 0 0 50px #f07d19, 0 0 60px #f07d19, 0 0 70px #f07d19, 0 0 80px #f07d19;
    }
  }
/* ===================================== */

.card{
    width: 20rem;
    margin-left: 48px;
    margin-top: 39px;
}
.imgcard{
    height: 400px;
}

.card2{
    margin-left: 257px;
}
.imgcard2{
    height: 400px;
}


/* ============ */
* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: sans-serif;
}

/* ============= */

.BODY{
    background-color: #000;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
footer {
    background-color: #000;
    margin-top: 35px;
    height: 41vw;
}

.logo {
    background: url('../public/images/bar1.jpeg');
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px;
}
.form_layout {
    margin-top: 120px;
    width: 450px;
    height: 80%;
    background-color: #2e2e2e;
    border-radius: 40px;
    border-top: 5px solid rgba(246, 163, 135);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login_form {
    text-align: center;
    width: 80%;
}
.input_layout {
    height: 50px;
    width: 100%;
    margin-top: 30px;
    margin-top: 5%;
    background-color: #2e2e2e;
    border-radius: 40px;
    border-top: 5px solid rgba(246, 163, 135);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.btn2{
    padding: 10px;
    border: 0px solid;
    color: #000;
    background: #f6a387;
    font-size: 15px;
    border-radius: 20px;
    width: 150px;
    cursor: pointer;
    margin-left: 20%;
    text-transform:uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.links {
    margin-top: 20px;
}
.a{
    color: #fff;
    margin-left: 566px;
}
.ICON{
    margin-right: 12px;
}
.login{
    margin-top: 20px;
    margin-left: 5px;
}
.span{
    display: flex;
    height: 19px;
}

.img{
    width: 115px;
    height: 169px;
    margin-left: 50px;
}

.TOP{
    margin-top: 71px;
    margin-left: 60px;
}
p{
    text-decoration:underline;
    letter-spacing: 0.5px;
}
.Copyright{
    margin-top: -28;
    background-color: rgba(0, 0, 0, 0.05);
    text-align: center;
}

.cardStand{
    width: 18rem;
}
.taha{
    margin-left: 34px !important ;
    background-color:  rgba(246, 163, 135) !important;
}

.imgcardstand{
    height: 369px;
    margin-top: 37px;
}
.I{
    margin-right: 20px;
}
.GO{
    margin-left: 52px;
    background-color:  rgba(246, 163, 135); 
    border-color: aliceblue;
    border-radius: 13px;
}













